<!--
    Jacob Blanton
    7/20/2023
    This page is the 'About Me' page. It will contain a description about myself, job history, and education. 
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Jacob Blanton - Personal Portfolio - About Me</title>
    
</head>
<body>
    <header>
        <h1><a href="index.html" class="head">Jacob Blanton</a></h1>
    </header>
    <div class="container">
        <article id="navigation">
            <!-- Create a nav link here to the 'About me', 'Contact', 'Gallery', 'My interests' page -->
            <nav>
                <ul class="pages">
                <li><a class="active" href="about_me.html" >About Me</a></li>
                <li><a href="contact.html" >Contact</a></li>
                <li><a href="gallery.html" >Gallery</a></li>
                <li><a href="my_interests.html" >My Interests</a></li>
                <li><a href="invitation.html" >Invitation</a></li>
                </ul>
            </nav>
        </article>
        <section id="bio">
            <h2>My Bio</h2>
            <p>
                South Eastern-Kentucky native, Jacob Blanton is an aspiring young developer in the industry who is currently broadening his skills in Lexington, KY. 
                He has tradtional software engineering and web development experience, 
                yet his focus lies in data analytics and web development where bringing customer ideas to life drives him.
				Jacob's protfolio showcases a range of exceptional skills he has developed over the years, working with large databases and building scalable websites.
            </p>
        </section>
        <section id="work">
            <h2>Work History (Technically Related)</h2>
            <ul>
                <li class="work">Intertek Testing Services - Radio Frequency (RF) Engineer</li>
                <li class="work">Fayette County Public Schools - Computer Technician</li>
            </ul>
        </section>
        <section id="education">
            <h2>Education History </h2>
            <ul>
                <li class="education">Eastern Kentucky University - Computer Science/Mathematics</li>
            </ul>
        </section>
        <section id="skills">
            <h2>Skills</h2>
            <table id="skills">
                <tr>
                    <th class="primary">Primary Skills</th>
                    <th class="secondary">Secondary Skills</th>
                </tr>
                <tr>
                    <td>Python</td>
                    <td>HTML5</td>                  
                </tr>
                <tr>
                    <td>Java</td>
                    <td>CSS3</td>
                </tr>
                <tr>
                    <td></td>
                    <td>JavaScript</td>
                </tr>
        
            </table>
            
        </section>
            <section id="contact">
                <!-- Create a link here to the Contact Page -->
                <a href="contact.html"><h2>Contact</h2></a>
                <p>
                    Email: your.email@example.com<br>
                    Phone: (123) 456-7890
                </p>
            </section>
    </div>
</body>
</html>