<!--
    Jacob Blanton
    7/20/2023
    This page is the 'Contact confirmation' page. It will contain all of my contact info and confirmation that the sender's message has been sent.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    
    <title>Jacob Blanton - Personal Portfolio - Contact</title>
    
</head>
<body>
    <header>
        <h1><a href="index.html" class="head">Jacob Blanton</a></h1>
    </header>
    <div class="container">
        <article id="navigation">
            <!-- Create a nav link here to the 'About me', 'Contact', 'Gallery', 'My interests' page -->
            <nav>
                <ul class="pages">
                <li><a href="about_me.html" >About Me</a></li>
                <li><a class="active" href="contact.html" >Contact</a></li>
                <li><a href="gallery.html" >Gallery</a></li>
                <li><a href="my_interests.html" >My Interests</a></li>
                <li><a href="invitation.html" >Invitation</a></li>
                </ul>
            </nav>
        </article>
        
        <section id="contact">
            <!-- Displaying contact info -->
            
            <p>
                Email: your.email@example.com<br>
                Phone: (123) 456-7890
            </p>
        </section>

        <!-- Confirmation that sender's message has been sent -->
        <section >        
            
            <p>Thanks! Your message has been sent.</p></p>
        </section>
        
    </div>
</body>
</html>