<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Jacob Blanton - Personal Portfolio</title>
    
</head>
<body>
    <header>
        <h1><a href="index.html" class="head">Jacob Blanton</a></h1>
    </header>
    <div class="container">
        <article id="navigation">
            <!-- Create a nav link here to the 'About me', 'Contact', 'Gallery', 'My interests' page -->
            <nav>
                <ul class="pages">
                <li><a href="about_me.html" >About Me</a></li>
                <li><a href="contact.html" >Contact</a></li>
                <li><a href="gallery.html" >Gallery</a></li>
                <li><a href="my_interests.html" >My Interests</a></li>
                <li><a href="invitation.html" >Invitation</a></li>
                </ul>
            </nav>
         
        </article>
        <!-- This section will contain my 2 best projects. More will be added on the 'about me' page. -->
        <section id="projects">
            <h2>Projects</h2>
            <div class="projects">
                <div class="project" id="p1">
                    <h3>Project 1</h3>
                    <p>
                        Description of Project 1.
                    </p>
                </div>
                <div class="project" id="p2">
                    <h3>Project 2</h3>
                    <p>
                        Description of Project 2.
                    </p>
                </div>
                <div class="project" id="p3">
                    <h3>Project 3</h3>
                    <p>
                        Description of Project 3.
                    </p>
                </div>
                <div class="project" id="p4">
                    <h3>Project 4</h3>
                    <p>
                        Description of Project 4.
                    </p>
                </div>
            </div>
        </section>
        <!-- Adding a Youtube video to the webpage -->
        <iframe width="420" height="315" src="https://www.youtube.com/watch?v=Wlu4MsBnjuk"></iframe>
        <section id="contact">
            <!-- Create a link here to the Contact Page -->
            <a href="contact.html"><h2>Contact</h2></a>
            <p>
                Email: your.email@example.com<br>
                Phone: (123) 456-7890
            </p>
        </section>
    </div>
</body>
</html>
