<!--
    Jacob Blanton
    7/20/2023
    This page is the 'My Interests' page. It will contain a interests, hobbies, etc. 
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Jacob Blanton - Personal Portfolio - My Interests</title>
    
</head>
<body>
    <header>
        <h1><a href="index.html" class="head">Jacob Blanton</a></h1>
    </header>
    <div class="container">
        <article id="navigation">
            <!-- Create a nav link here to the 'About me', 'Contact', 'Gallery', 'My interests' page -->
            <nav>
                <ul class="pages">
                <li><a href="about_me.html" >About Me</a></li>
                <li><a href="contact.html" >Contact</a></li>
                <li><a href="gallery.html" >Gallery</a></li>
                <li><a class="active" href="my_interests.html" >My Interests</a></li>
                <li><a href="invitation.html" >Invitation</a></li>
                </ul>
            </nav>
        </article>
        <section id="education">
            <h2>Education/Learning Related Interests</h2>
            <p>I have quite a few education and learning related interests. The more you know, the more realize how
                much you don't know. This is my driving force to learn anything that interests me.
            </p>
            <ul>
                <li class="education">Mathematics (Specifically, set theory and logic as well as probablity)</li>
                <li class="education">Technology (Writing programs to make my job easier)</li>
                <li class="education">Biology (Learning what drives our behaviors)</li>
            </ul>
            
        </section>
        <section>
            <h2>Hobbies/Activities</h2>
            <ul>
                <li class="skill">Weight lifting</li>
                <li class="skill">Chess</li>
                <li class="skill">Basketball</li>
                <li class="skill">Spending hours on Youtube</li>
            </ul>
           
        </section>
        
        <h1>One of my favorite songs</h1>

        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3M19xTFEn8d1JSuQfWTdBW?utm_source=generator" 
        width="100%" height="352" frameBorder="0" allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        
        <section id="contact">
            <!-- Create a link here to the Contact Page -->
            <a href="contact.html"><h2>Contact</h2></a>
            <p>
                Email: your.email@example.com<br>
                Phone: (123) 456-7890
            </p>
        </section>
    </div>
</body>
</html>